/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #675AFE;
}
.wrapper{
    background-color: #fff;
    width: 370px;
    padding: 30px;
    border-radius: 7px;
}
.wrapper header{

    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.wrapper form {
    margin: 40px 0px 20px 0;
}
form :where(input,select,button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
form input{
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
}
form p {
    font-size: 18px;
    margin-bottom: 5px;
}
form input:focus{
    padding: 0 14px;
    border: 2px solid #675AFE;
}
form .drop-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.drop-list .select-box{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 115px;
    border: 1px solid #999;
}
.select-box select{
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}
.select-box img{
    max-width: 25px;
}
.select-box select::-webkit-scrollbar{
    width: 8px;
  }
  .select-box select::-webkit-scrollbar-track{
    background: #fff;
  }
  .select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
  }

.drop-list .icon{
    cursor: pointer;
    font-size: 22px;
    margin-top: 30px;
}

form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
}
form button{
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: #675AFE;
}